@{
    ViewData["Title"] = "Home Page";
}

<!--
i@f (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <p>Please use links above for further actions.</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to ToDo application.</h1>
        <p>Please <a asp-controller="Employee" asp-action="Login">Login</a> or <a asp-controller="Employee" asp-action="Register">Register</a> before start.</p>
    </div>
}
-->
<div class="text-center">
    <h1 class="display-4">Welcome to ToDo application.</h1>
    <p>Please <a asp-controller="Employee" asp-action="Login">Login</a> or <a asp-controller="Employee" asp-action="Register">Register</a> before start.</p>
</div>

