@model ToDoApp.Models.ToDo

@{
    ViewData["Title"] = "Details";
}

<partial name="_AlertMessages" />

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <partial name="_ToDoFormFields"/>

        <div class="row">
            <div class="offset-sm-4 col-sm-4 d-grid">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
            </div>
            <div class="col-sm-4 d-grid">
                <a asp-action="IndexEmployee" asp-route-id="@Model?.EmployeeId" class="btn btn-info">Back to todos</a>
            </div>
        </div>
    </div>
</div>