@model ToDoApp.Models.ToDo

@{
    ViewData["Title"] = "Edit";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error ! </strong>   @TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Edit todo</h2>
        <form asp-action="Edit">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name)</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Description)</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Description">
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">
                    <input class="form-check-input" asp-for="IsClosed" />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Employee id</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="EmployeeId">
                    <span asp-validation-for="EmployeeId" class="text-danger" />
                </div>
            </div>            

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div class="col-sm-4 d-grid">
                    <a asp-action="Index" class="btn btn-primary">Back to todos</a>
                </div>
            </div>
        </form>
    </div>    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}