@model ToDoApp.Models.EmployeeVM

@{
    ViewData["Title"] = "Create";
}

<partial name="_AlertMessages" />

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <form asp-action="Create" enctype="multipart/form-data">
            <partial name="_EmployeeVMFormFields"/>
            
            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
                <div class="col-sm-4 d-grid">
                    <a asp-action="Index" class="btn btn-info">Back to employees</a>
                </div>                
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
