@model ToDoApp.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<partial name="_AlertMessages" />

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <partial name="_EmployeeFormFields"/>

        <div class="row">
            <div class="offset-sm-4 col-sm-4 d-grid">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#warning">
                    Delete
                </button>
            </div>
            <div class="col-sm-4 d-grid">
                <a asp-action="Index" class="btn btn-info">Back to employees</a>
            </div>
        </div>
    </div>
</div>

<!-- Warning Modal View-->
<div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="warningTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warningTitle">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
            </div>
            <div class="modal-body">
                Current employee profile with it's todos will be deleted.
                <br/>
                Do you confirm?
            </div>
            <form asp-action="Delete">
                <div class="modal-footer">
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <input type="submit" asp-action="Delete" value="Confirm" class="btn btn-danger" />
                    </div>
                    <div class="col-sm-4 d-grid">
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>